body {
  background: rgb(240,240,240);
}
header span {
  float: right;
  }
header {
  margin: 40px;
  font-size: 30px;
}
.search{
  text-align: center;
}
.box {
  width: 400px;
  height: 25px;
  border-radius: 4px;
  margin: 10px 5px 10px 10px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid lightgray;
}
button {
  background-color:rgb(27,157,214);
  color: white;
  height: 40px;
  width: 70px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid rgb(27,157,214);
  font-size: 15px;
}
.nothing {
  margin:30px 0 10px 250px;
}
