<style>
  h1 {background:url("acme images/background.png")

  }
  button {background-color:#2A4CB2;
          font-family:Lucida Grande;
          color:white;
          border-radius:5px;
          font-size:20px;
  }


  



</style>
