<style>



    header {
            background-color:rgb(196,196,196);
            margin-bottom: 20px;
            border: 10px solid black

    }


    img {float:left;

      }

    button {
          background-color:#2A4CB2;
          font-family:Lucida Grande;
          color:white;
          border-radius:5px;
          font-size:15px;
          float:right;

        }

    span {margin-left: 400px;



      }

     li   {
          display:inline;

        }

    main{margin-left:auto;
         margin-right:auto;
         margin-top:30px;
         max-width:800px;



    }


    }

    p {  padding:50px;
         font-size:20px;



      }

  article {
           padding:10px;
           max-width:800px;
           border:black 10px;
           border-radius:30px;

  }


    div   {
            padding: 70px;


  }





</style>
