<style>
    header {background:url("acme images/background.png")

  }
    img {float:left;

      }

    button {
          background-color:#2A4CB2;
          font-family:Lucida Grande;
          color:white;
          border-radius:5px;
          font-size:15px;
          float:right;

        }

    li   {
          display:inline;



        }

    p {max-width:600px;
        margin-left:auto;
        padding:20px;
      }

  article {text-align:left;
           padding:10px;
           max-width:600px;
           border:black 10px 
  }



</style>
