body {
    background: rgb(57,57,57);
    color: white;
    display: inline-block;
}
img{
    width: 150px;
    height:200px;
    display: inline-block;
    margin: 10px;
}
.images{
  max-width: 600px;
  margin: 10px;

}
header{
    color:rgb(240,240,240);
}
.info{
  float: right;
  display: block;
  position: relative;
  left: 200px;
  max-width: 300px;
}
tr {
  padding: 10px;
  list-style-type: none;
}
