* img {
    width: 150px;
    height: 150px;
    margin: 15px 20px 20px 0;
    border: 2px double lightgray;
}

* div {
    display: flex;
    font-size: 15px;
    border-bottom: 1px solid lightgray;
}

* section {
    display: inline;
    padding: 10px 50px 30px 0;
    text-align: left;
}

* ul {
    padding: 10px 20px 20px 0;
}

header {
    background-color: #c4c4c4;
    margin: auto;
    width: 100%;
    height: 70px;
    padding: 10px;
    border-bottom: 1px solid darkgrey;
}

header img {
    float: left;
    border: none;
    padding: center;
    height: 60px;
    width: 250px;
}

header ul {
    margin: 0 auto;
    padding: 0px 0px 0px 100px;
    float: right;
}

nav {
    float: right;
    padding: 10px 0 10px 10px;
}

button {
    background-color: #2A4CB2;
    font-family: "Lucida Grande";
    color: white;
    border-radius: 5px;
    font-size: 13px;
    margin: 0 auto;
    padding: 5px;
    text-shadow: 1px 1px gray;
}

li a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px gray;
}

li {
    display: inline;
    padding: 20px 20px 20px 0px;
}

body {
    background: url("acme images/background.png");
    font-family: "Lucida Grande";
    margin: 0;
    width: 100%;
}

main {
    background: white;
    margin: 30px auto 30px auto;
    width: 80%;
    padding: 35px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 3px 3px 5px rgba(194, 194, 194, 0.4);
}

* div a {
    color: blue;
    font-size: 15px;
    text-shadow: 1px 1px white;
    font-family: "Lucida Grande";
}

*div button {
    padding: 20px;
    font-size: 15px;
    font-family: "Lucida Grande";
    background-color: #2A4CB2;
    text-shadow: 1px 1px blue;
}

.artificial {
    border-bottom: none;
}

footer p {
    color: #c4c4c4;
    border-top: 1px solid lightgray;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
    text-shadow: 1px 1px rgb (240, 239, 238);
    margin: 30px auto 30px auto;
}
