header {
    background: linear-gradient(180deg, rgb(36, 192, 126), rgb(8, 150, 90));
    height: 60px;
    padding: 10px;
    color: white;
    font-family: "Arial";
    width: 100%;
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
    float: left;
}

header li {
    display: inline;
    float: right;
    padding: 5px;
}

nav {
    margin: 0 auto;
    text-align: center;
}

body {
    background: rgb(241, 240, 245);
    font-family: "Arial";
}

main {
    background: white;
    margin: 30px auto 30px auto;
    width: 80%;
    padding: 35px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(194, 194, 194, 0.4);
}

button {
    background: rgb(6, 148, 86);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    text-shadow: 1px 1px rgb (6, 148, 86);
    padding: 5px;
    border: 0.5px solid rgb(8, 119, 69);
}

img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin: 20px 10px 0 0;
}

textarea {
    border-radius: 5px;
    width: 400px;
    border: 1px solid lightgray;
    color: gray;
    padding: 5px;
    margin-top: 20px;
}

.tweetbutton {
    margin: 0 0 10px 70px;
}

.first {
    display: flex;
    margin: 0 auto;
}

.second {
    display: flex;
    max-width: 500px;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    margin: 20px 0 0 0;
    padding: 20px 0;
}

.third {
    display: flex;
    margin: 20px 0 0 0;
    max-width: 500px;
    border-bottom: 1px solid lightgrey;
}

.fourth {
    display: flex;
    margin: 20px 0 0 0;
    max-width: 500px;
}

.like {
    color: rgb(6, 148, 86);
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.numbers {
    color: lightgrey;
    margin-left: 0;
    text-decoration: none;
}

a {
    margin: 0 0 20px 0;
}

footer li {
    display: inline-block;
    font-size: 10px;
    padding: 10px;
    text-align: center;
    color: rgb(180, 180, 180);
}

footer {
    width: 100%;
}

footer nav {
    margin: 0 auto;
    width: 80%;
}
