header {
    background-color: rgb(26, 177, 113);
    height: 50px;
    padding: 10px;
    color: white;
}

h1 {
    margin: 0 auto;
    float: left;
}

header li {
    display: inline;
    float: right;
    padding: 5px;
}

ul {
    margin:0 auto;
    float: right;
}

button {
    background: rgb(6,148,86);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    text-shadow: 1px 1px rgb (6, 148, 86);
    padding: 5px;

}
